[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
torch = "*"
torchvision = "*"
scikit-learn = "*"
pillow = "*"
tqdm = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.13"
